#formExpress>div>div.modal-body{display:flex;flex-wrap:wrap;}
body{
    transition: all 0.1s;
    opacity: 0;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: rgb(255, 182, 0);
}
.btn-warning{
    color:white;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
  z-index:100;
}
.float:hover{
    color:#fff;
}

.my-float{
	margin-top:16px;
}
.button-express{
    cursor:pointer;
    color:#000;
    padding:10px 20px 10px 20px;
    position: fixed;
    right: 0px;
    bottom: 50%;
    border-radius: 2px;
    background-color:rgb(255, 182, 0);
    -webkit-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    -khtml-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -khtml-transform: rotate(-90deg);
}
#success_tic .page-body {
    max-width: 300px;
    background-color: #FFFFFF;
    margin: 10% auto;
}

#success_tic .page-body .head {
    text-align: center;
}

/* #success_tic .tic{
    font-size:186px;
  } */

#success_tic .close {
    opacity: 1;
    position: absolute;
    right: 0px;
    font-size: 30px;
    padding: 3px 15px;
    margin-bottom: 10px;
}

#success_tic .checkmark-circle {
    width: 150px;
    height: 150px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.checkmark-circle .background {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #1ab394;
    position: absolute;
}

#success_tic .checkmark-circle .checkmark {
    border-radius: 5px;
}

#success_tic .checkmark-circle .checkmark.draw:after {
    -webkit-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
    animation-delay: 300ms;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-name: checkmark;
    -moz-animation-name: checkmark;
    animation-name: checkmark;
    -webkit-transform: scaleX(-1) rotate(135deg);
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -o-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#success_tic .checkmark-circle .checkmark:after {
    opacity: 1;
    height: 75px;
    width: 37.5px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    border-right: 15px solid #fff;
    border-top: 15px solid #fff;
    border-radius: 2.5px !important;
    content: '';
    left: 35px;
    top: 80px;
    position: absolute;
}

@-webkit-keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
    }
    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
}

@-moz-keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
    }
    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: 37.5px;
        opacity: 1;
    }
    40% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
    100% {
        height: 75px;
        width: 37.5px;
        opacity: 1;
    }
}

.mensaje-contacto>p {
    margin-bottom: 40px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.error {
    color: #ff3e2b;
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

input[type="submit"] {
    background-color: rgb(255, 182, 0);
    color: #fff;
    border: unset;
    padding: 10px 20px 10px 20px;
}

.form-control {
    border-radius: unset;
}

form>h3 {
    padding-left: unset!important;
}
#nav {
    margin-bottom: 35px;
}

.formGc {
    background-color: #fff;
    margin: auto;
    padding: 4% 20% 8% 20%;
    margin-top:20px;
} 
.formGc>form {
    max-width: 700px;
    margin: auto;
}

.nav-social {
    border-bottom: 1px groove rgba(255, 255, 255, 0.25);
    height: 40px;
}
.navbar-nav>li {
    padding: 14px 10px 0px 10px;
}

.navbar {
    padding-left: 10%;
}

.navbar-toggler {
    border: none;
}

.navbar-nav {
    padding-left: 10%;
}

.navbar {
    background: transparent;
    z-index: 1;
}

.dropdown {
    border-radius: 0;
    border: 0;
}

.dropdown-menu {
    background: #dddddd;
    border: 0;
    top: 80%;
    border-radius: 0px 0px 5px 5px;
}

.dropdown-item:hover {
    background: transparent;
    color: #000;
}

.dropdown-menu a {
    color: #888;
}

.navbar .nav-item .nav-link {}

.navbar .nav-item .nav-link:hover .navbar .nav-item .nav-link {
    color: red !important;
}

.dropdown-toggle::after {
    content: none
}

#carouselObras {
    z-index: 0;
    margin-top: -127px;
}

.logo-gc {
    height: 100%;
    width: 100%;
    line-height: 60px;
    font-size: 30px
}

.navbar-brand {
    width: 19%;
}

.logo-gc>img {
    max-width: 164px;
    width:70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    height: 70px;
}

.img-fluid {
    width: 100%;
    height: auto;
    margin-top: -9%;
}

.sm-menu {
    border-top: 3px solid rgb(255, 182, 0);
    border-radius: 3px;
    background-color: white;
    color: #888;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav-link {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1px;
    height: 60px;
    text-align: center
}

.widget-title>div.info {
    width: 80%;
    height: 2px;
    margin-top: 4px;
    background-color: #ffb600;
    max-width: 90px;
}

.widget-title>div.sobre {
    width: 80%;
    height: 2px;
    margin-top: 4px;
    background-color: #ffb600;
    max-width: 190px;
}

.nav-link.active>div {
    width: 100%;
    height: 2px;
    margin-top: 2px;
    background-color: #ffb600;
}

.footer {
    background-color: #1b273d;
    color: #dddddd;
    font-family: 'SF Display'!important;
    -webkit-box-shadow: inset 0px 7px 15px -5px rgba(0, 0, 0, 0.78);
    box-shadow: inset 0px 7px 15px -5px rgba(0, 0, 0, 0.78);
}

.widget-title {
    padding: 0px 20px 20px 20px;
}

.textwidget {
    padding: 0px 20px 0px 20px;
}

.textwidget.d-none {
    color: #fff;
    font-size: 14px;
}

.textwidget.d-none>i {
    margin-right: 4px;
}

.textwidget>p>i {
    margin-right: 4px
}

@media (max-width:1200px) {
    .carousel-item {
        height: unset;
    }
}

@media (max-width:575.98px) {
    .carousel-item {
        height: unset;
    }
    #carouselObras {
        z-index: 0;
        margin-top: unset;
    }
    .carousel-inner {
        height: 240px;
    }
    .navbar-nav {
        padding-left: unset;
    }
    .navbar-brand {
        width: 100px;
    }
    .navbar.a {
        background-color: #1b273d;
    }
    .navbar.b {
        background-color: white;
    }
    .navbar {
        padding: 8px 16px!important;
    }
    .logo-gc>img {
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
}

@media (max-width:768px) {
    .navbar {
        padding-left: 10%;
    }
    .navbar-nav {
        padding-left: 4%;
        zoom: 0.7;
    }
    .formGc {
        background-color: #fff;
        margin: auto;
        padding: 4% 10% 8% 10%;
    }
    .float{
        bottom: 30px;
    right: 20px;
    }
}

@media (min-width:575.99px) {
    #navbarTogglerDemo03 {
        margin-bottom: -3%;
    }
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
        color: #fff;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #fff;
    }
    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: #fff;
    }
}

@media (min-width:1200px) {
    .navbar-nav {
        padding-left: 20%;
    }
}

@media(max-width:375px) {
    .img-fluid {
        width: 100%;
        height: auto;
        margin-top: unset;
    }
}

@media(min-width:1321px) and (max-width:1485px) {
    .img-fluid {
        margin-top: 0%;
    }
}