<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favico/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favico/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favico/favicon-16x16.png' %}">
    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/landing-page.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link rel='stylesheet' id='tp-montserrat-css'
        href='https://fonts.googleapis.com/css?family=Montserrat%3A400%2C700&#038;ver=5.2.3' type='text/css'
        media='all' />
    <link rel='stylesheet' id='vc_google_fonts_playfair_displayregularitalic700700italic900900italic-css-css'
        href='//fonts.googleapis.com/css?family=Playfair+Display%3Aregular%2Citalic%2C700%2C700italic%2C900%2C900italic&#038;ver=5.2.3'
        type='text/css' media='all' />
    <link rel='stylesheet' id='kirki_google_fonts-css'
        href='//fonts.googleapis.com/css?family=Lato%3Aregular%2Citalic%2C300%2C700%7CMontserrat%3Aregular%2C700%3A400%26subset%3Dcyrillic%2Ccyrillic-ext%2Cdevanagari%2Cgreek%2Cgreek-ext%2Ckhmer%2Clatin%2Clatin-ext%2Cvietnamese&#038;ver=5.2.3'
        type='text/css' media='all' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    </a>
</head>

<body style="background-color:#1b273d">
    <nav class="navbar a navbar-expand-lg navbar-light  nav-social">
        <div class="textwidget d-none d-sm-block"><i class="fa fa-phone"></i> +(569) 9050 6087 &nbsp;&nbsp; &nbsp;
            &nbsp;
            <i class="fa fa-clock"></i> Lun - Vie: 9:00 - 18:00 &nbsp;&nbsp; &nbsp; &nbsp; <i
                class="fa fa-envelope"></i> constructora@ccgltda.cl</div>
    </nav>
    <nav id="nav" class="navbar b navbar-expand-sm   navbar-light">

        <a class="navbar-brand" href="/">
            <div class="logo-gc">
                <img src="{% static 'img/LOGO.jpg' %}" class="rounded float-left" alt="...">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link a" href="/">HOME<span class="sr-only">(current)</span>
                        <div></div>
                    </a>

                </li>

                <li class="nav-item dropdown dmenu">
                    <a class="nav-link dropdown-toggle" href="/proyectos/" id="navbardrop" data-toggle="dropdown">
                        PROYECTOS<div></div>
                    </a>
                    <div class="dropdown-menu sm-menu">
                        <a class="dropdown-item" href="/proyectos/">Todos los proyectos</a>
                        <a class="dropdown-item" href="/proyecto/">Locales Maos</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                        <a class="dropdown-item" href="#">Link 4</a>
                        <a class="dropdown-item" href="#">Link 5</a>
                        <a class="dropdown-item" href="#">Link 6</a>
                        <a class="dropdown-item" href="#">Link 7</a>
                        <a class="dropdown-item" href="#">Link 8</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SERVICIOS<div></div></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact/">CONTACTO<div></div></a>
                </li>
            </ul>
        </div>
    </nav>
    {% block body %}{% endblock %}

    <div id="modal-express" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">

            <form id="formExpress" method="post" name="contacto" action="/mensajecontacto/" method="POST">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Presupuesto Express</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="txtName" class="form-control" placeholder="Nombre" value="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="txtSubject" class="form-control" placeholder="Dirección"
                                    value="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="number" name="txtPhone" class="form-control" placeholder="Teléfono"
                                    value="">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" name="txtEmail" class="form-control" placeholder="Mail" value="">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea type="text" name="txtMsg" class="form-control" placeholder="Detalle" value=""
                                    rows="8"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning">Solicitar</button>
                    </div>
                    <input type="hidden" name="tipo" value="express" />
            </form>
        </div>
    </div>
    </div>
    <footer class="footer" role="contentinfo" itemscope="itemscope">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <aside id="text-3" class="widget widget_text">
                        <h3 class="widget-title">Sobre Nosotros<div class="sobre"></div>
                        </h3>
                        <div class="textwidget">
                            <p>Constructora Catalán – Gálvez Limitada, fue creada por dos profesionales en el área de la
                                ingeniería y arquitectura. Dirigida y supervisada personalmente por estos.</p>
                            <p>La empresa ofrece una solución completa a sus necesidades de construcción de obras
                                civiles, remodelaciones comerciales, diseño y publicidad de proyectos adaptándose a lo
                                solicitado por el cliente.</p>
                            <p>Si busca seriedad, responsabilidad y cumplimiento de sus metas, en construcción y
                                remodelación, somos su mejor opción.</p>
                        </div>
                    </aside>
                    <aside id="text-9" class="widget widget_text">
                        <div class="textwidget"></div>
                    </aside>
                </div>
                <div class="col-md-6">
                    <aside id="text-4" class="widget widget_text">
                        <h3 class="widget-title">Oficina<div class="info"></div>
                        </h3>

                        <div class="textwidget">
                            <p><i class="fa fa-map-marker"></i> Fidel Oteiza 1941, Oficina 701, Providencia, Santiago.
                            </p>
                            <p><i class="fa fa-phone"></i> +(569) 9050 6087</p>
                            <p><i class="fa fa-envelope"></i> constructora@ccgltda.cl</p>
                            <p><i class="fa fa-clock"></i> Lun - Vie: 9:00 - 18:00</p>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </footer>
    <a href="https://api.whatsapp.com/send?phone=56990506087" class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i></a>
    <div class="button-express" data-toggle="modal" data-target="#modal-express">Presupuesto Express </div>

    <div id="success_tic" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <a class="close" href="#" data-dismiss="modal">&times;</a>
                <div class="page-body">
                    <div class="head">
                        <h3 style="margin-top:5px;">Enviado con exito!</h3>
                    </div>
                    <h1 style="text-align:center;">
                        <div class="checkmark-circle">
                            <div class="background"></div>
                            <div class="checkmark draw"></div>
                        </div>
                        <h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery.validate.js' %}"></script>
    <script>
        $(document).ready(function () {
            var loc = window.location.pathname;
            console.log(loc);
            $('#nav').find('a').each(function () {
                $(this).toggleClass('active', $(this).attr('href') == loc);
            });
            $('.navbar-light .dmenu').hover(function () {
                $(this).find('.sm-menu').first().stop(true, true).slideDown(150);
            }, function () {
                $(this).find('.sm-menu').first().stop(true, true).slideUp(105)
            });
            $('body').css("opacity","1")
        });
        $("#formExpress").validate({
            rules: {
                // simple rule, converted to {requi red:true}
                txtName: "required",
                // compound rule
                txtEmail: {
                    required: true,
                    email: true
                },
                txtPhone: { required: true, maxlength: 9 },
                txtSubject: "required",
                txtMsg: "required"
            },
            submitHandler: function (event, form) {
                console.log("handle");
                var serializedData = $("#formExpress").serialize();
                console.log(serializedData);
                $.ajax({
                    type: "POST",
                    url: "/mensajecontacto/",
                    data: serializedData,
                    dataType: "text",
                    success: function (data) {
                        if (data == "exito") {
                            $("#modal-express").modal('hide');
                            $("#success_tic").modal('show');
                        }
                    },
                    error: function (data) {
                        alert('error handling here');
                        console.log(data);
                    }
                });
                return false;
            }
        });
        jQuery.extend(jQuery.validator.messages, {
            required: "Este campo es requerido",
            maxlength: "Porfavor no mas de {0} digitos",
            email: "Introduce un email valido",
        });
    </script>
    {% block scriptjs %}{% endblock %}
</body>

</html>